{
  "extends": "eslint:recommended",
  "env": {
      "browser": true
  },
  "rules": {
    "allow": ["warn", "error"]
  },
  {
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    }
  }
}
